rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    match /comerciantes/{comercioId} {

      allow read: if true;

      allow create: if request.auth != null;

      allow update:
          if request.auth != null
          && request.auth.uid == resource.data.uid_usuario;

      allow delete:
          if request.auth != null
          && request.auth.uid == resource.data.uid_usuario;
    }

    match /usuarios/{uid} {

      allow create:
          if request.auth != null
          && request.auth.uid == uid;

      allow read:
          if request.auth != null
          && request.auth.uid == uid;

      allow update:
          if request.auth != null
          && request.auth.uid == uid;
    }
  }
}